---
layout: default
title: Math
---
<div class="category">
<h2>
	<a href="/blog">all posts</a> |
	<a href="/physics">physics</a> | 
	<a href="/programming">programming</a> | 
	<a href="/math">mathematics</a> |
	<a href="/gis">gis</a> |
</h2> 
</div>

<p>Category: Mathematics </p>

<ul>
  {% for post in site.categories.Mathematics %}
    {% if post.url %}
        <li><h2><a href="{{ post.url }}">{{ post.title }} -- {{post.date| date_to_string}}</a></h2></li>
    {% endif %}
  {% endfor %}
</ul>

<p>This is the Physics blog area!</p>